body {
    margin: auto;
    max-width: 1200px;
    padding-bottom: 50px;

}

#Wrapper {
    background-color: #fcf9ec;
}

#Index-Image-Container {
    float: right;
    padding: 50px;
}

#main {
    border-radius: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

footer {
    font-family: 'Ysabeau SC';
    text-align: center;
    clear: both;
    background-color: #E57F3D;
    padding: 20px;
    border-radius: 20px;
    color: #008080;
}

#Welcome-To-Pet-Adoption {
    font-size: 70px;
    color: #008080;
    font-family: 'Poetsen One';
}

#Pets-Victoria {
    font-family: 'Permanent Marker';
    color: #E57F3D;
    font-size: 70px;
}

.Nav-Bar {
    background-color: #008080;
    max-width: 1200px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;

}

.Drop-Down-Container {
    flex: 1;
    text-align: left;
    display: flex;
}

.Drop-Down-Container select {
    padding: 5px;
    border-radius: 15px;
    border: white;
    height: 40px;
    font-size: 12px;
}

.Search-Container input[type="text"] {
    padding: 5px;
    border-radius: 15px;
    border: white;
    height: 40px;
    font-size: 12px;
}


.Search-Container {
    flex: 1;
    text-align: right;


}

.green {
    background-color: #008080;
    color: white;
}

#Search-Button {
    background-color: #008080;
    border: none;
}

 input,
 select {
     width: 200px;
     height: 25px;
     margin: 2px;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }